@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

.consultancy{
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.graycolor{
  color:#777;
}
.common-heading-product{
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #ac1929;
  }  
  .common-para-product{
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 500;
    /* color: #fff; */
  }

.btn-reasearch{
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.btn-reasearch:hover{
  background-color: #000;
  color: #fff;
}
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  