.btnstyle{
    height: 55px;
    width: 55px;
}
/* .btnstyle:focus{
  border: 1px solid red
} */
.navbar-toggler:focus, 
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: none
}
.button:focus,
.button:active {
  outline: none;
  border: none;
  box-shadow: none;
}

/* Desktop Header */
.d-none {
  display: none;
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
}

/* Mobile Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 60px; /* Adjust based on header height */
}

.sidebar-nav .nav-item {
  margin: 20px 0;
}

.sidebar-nav .nav-link {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-nav .nav-link:hover {
  background-color: #ddd;
}

.close-btn {
  position: absolute;
  top: 20px;
  /* left: 20px; */
  font-size: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
display: block;
  border:1px solid #ac1929 ;
  background-color:#ac1929;
  border-radius: 50px;
  margin-bottom: 50px;
}

/* Button styles */
.btnstyle {
  border: none;
  background: transparent;
}

.headerMenu{
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

